.App {
  text-align: center;
}
.header-black {
  width: 500px;
  height: 500px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}
button {
  transform: translateY(300px);
  outline: none;
  padding: 10px;
  border: 1px solid rgb(96, 156, 190);
  color: rgb(77, 95, 122);
  background-color: rgb(91, 224, 224);
  border-radius: 20px;
}
#coinBlack {
  width: 128px;
  overflow: hidden;
}
